<!DOCTYPE html>
<meta name="robots" content="noindex">
<html>
<head>
    <link href="/mermaid.css" rel="stylesheet" type="text/css"/>
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="/jquery.min.js"></script>
    <script src="/webfont.js"></script>
    <script src="/underscore-min.js"></script>
    <script src="/angular.min.js"></script>
    <script src="/angular.sanitize.js"></script>
    <style>
        div.well { overflow-y: scroll;}
    </style>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function($scope, $http) {
            $http.get('/models').
                then(function(response) {
                $scope.models = response.data;
            });
        });
    </script>

    <style>
        .label{
            color: #000
        }
        svg { width: 200% }




    </style>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PredMod</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Predictive Models <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<br/><br/><br/>
<div id="main-content" class="container">
    <div class="row" ng-repeat="x in models">
        <div class="panel panel-primary">
            <div class="panel-heading">Model: {{ x.predModelDefId }}</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="well row" style="background-color: #99ccff">
                        <div class="col-md-12" id="i{{ $index }}">
                            <h2>{{ x.definition.description }}</h2>
                        </div>
                    </div>
                    <div class="well row">
                        <div class="col-md-3">
                            <b> Datasource Type: {{ x.definition.datasourceType }}</b>
                        </div>
                        <div class="col-md-3">
                            <b>Datasource: {{ x.definition.datasourceValue }}</b>
                        </div>
                        <div class="col-md-3">
                            <b>Problem Type: {{ x.definition.problemType }}</b>
                        </div>
                        <div class="col-md-3">
                            <b>Model Algorithm: {{ x.definition.modelType }}</b>
                        </div>

                    </div>
                    <div class="well row">
                        <div class="col-md-12">
                            <h4>Field to be predicted: {{ x.definition.predictedColumn.name }}</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="jumbotron">
                            <h2 class="display-4">{{ x.lastTrainingTimeTookInSeconds }} S</h2>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Input Column Name</th>
                                <th>Column Type</th>
                                <th>Enumerations (if any)</th>
                                <th>Missing Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="y in x.definition.inputColumns">
                                <th scope="row">{{ $index }}</th>
                                <td>{{ y.name }}</td>
                                <td>{{ y.kind }}</td>
                                <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;"><p>{{ y.enumerations }}</p></td>
                                <td>{{ y.missingValue }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>
<hr/>
</body>
</html>